# Virtual environments
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Tensorflow logs
logs/
tensorflow_hub/

# Development temp files
dev/

# Python cache
__pycache__/
.pyc

# saved models
saved_models/

# image data
/data/image_data
